
.landing-page {
  padding-top: 10px; /* Assuming your navbar height is 56px */
}

.card {
  width: 12rem;
  margin-right: 10px;
}

.card-img-top {
  width: 100%;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-price {
  margin-top: 0.5rem;
}

.card-button {
  margin-top: 0.5rem;
}
.badge {
  vertical-align: middle;
  margin-top: 0.5rem;
}