section {
    padding: 35px;
    margin: 0;
}

h4 {
    font-weight: 700;
}

.products {
    gap: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    text-overflow: hidden;
}

.products > * {
    flex: 1 1 0;
    max-width: 330px;
    min-width: 240px;
}

@media screen and (max-width: 1060px) {
    .products {
        gap: 10px;
    }
}